/* 
Stylesheet til Arnes Portfolio
*/

/*
Resets
*/

*{
    box-sizing: border-box;
}

body, html, figure{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

img, svg, video, object, iframe {
    max-width: 100%;
}
/* Headings */
h1, h2, h3, h4{
    font-family: 'Ranchers', cursive;
    text-transform:uppercase;
    margin-top: 0;
    margin-bottom: 0.5em;
}
/* Paragraphs */
p{
    margin-top: 0;
    margin-bottom: 0.75em;
}
a{
    color:inherit;
    text-decoration: none;
    font-weight: bold;
}
input, textarea, button{
    font-family: sans-serif;
    padding:8px;
    line-height: 1.3;
}

/*
Utility Classes
*/
.center{
    text-align: center;
}
.centered-max-width{
    max-width:950px;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
}


/* Header/ footer */
.page-header, .page-footer{
    background-color: #fff2d8;
    color:#b93e44;
}
.logo{
    display:flex;
    justify-content: center;
}
.search-form{
    padding:10px 0;
    display:flex;
    justify-content: center;
}
.search-field{
    border: 1px solid #b93e44;
}
.search-btn{
    background: #b93e44;
    border:none;
    padding: 9px 7px 7px;
}

/* Menu */
.menu{
    background-color: #b93e44;
    font-family: 'Ranchers', cursive;
    box-shadow: 0 10px 30px rgba(0,0,0,0.35);
}

.menu ul{
    display: none;
    list-style: none;
    padding: 10px;
    margin:0;
}
.menu .visible{
    display: block;
}
.menu-item{
    color:white;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    padding-top:8px;
}
.selected{
    background-color: #fff2d8;
}
.selected .menu-item{
    color:#b93e44
}
.menu-btn{
    background: none;
    border: none;
    padding: 6px 0 4px;
}



/*Main content*/
.content {
    margin-top:40px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
}


/*Contact form*/
.c-form input, 
.c-form textarea,
.c-form button{
    width:100%;
    margin-bottom: 20px;
}

.c-form button{
    background-color: #fff2d8;
    color:#b93e44;
    border: 2px solid #b93e44;
}

.c-form .color-input{
    width:15px;
}

/*
DESKTOP STYLING 
*/
@media screen and (min-width:800px) {
    
    .menu ul{
        display:flex;
        justify-content: flex-end;
        padding: 0;
    }
    .menu .visible{
        display: flex;
    }
    .menu-btn{
        display:none;
    }
    .menu .centered-max-width{
        padding: 0;
    }
    .menu li{
        border-right:2px solid white;
        padding: 5px;
    }
    .menu li:first-child{
        border-left:2px solid white;
    }
    .menu-item{
        padding:5px;
    }

    .flex-desktop{
        display: flex;
        gap:25px;
        justify-content: space-between;
        align-items: start;
    }
    .main{
        /* width:66.66666% */
        flex:2;
    }
    .sidebar{
        /* width: 33.33%; */
        flex:1;
    }

}
